In [10]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\srv27\appdata\roaming\python\python310\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.21.0 in c:\program files\python310\lib\site-packages (from pandas) (1.22.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\srv27\appdata\roaming\python\python310\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\srv27\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\srv27\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [11]:
import pandas as pd
import numpy as np
df = pd.DataFrame()

In [12]:
df

Empty DataFrame
Columns: []
Index: []

In [13]:
print(df)

Empty DataFrame
Columns: []
Index: []

In [14]:
df = pd.DataFrame([[1, 2, 3], [4,5,6],[7,8,9]])

In [15]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [16]:
d = df.head()
print(d)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [17]:
print("no. of rows from the top")
x = df.head(2)
print(x)
print("no. of rows from the bottom")
print(df.tail(1))

no. of rows from the top
   0  1  2
0  1  2  3
1  4  5  6
no. of rows from the bottom
   0  1  2
2  7  8  9

In [18]:
d

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [19]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [23]:
df.shape

(3, 3)

In [32]:
df.iloc[1:2,1:2]

   1
1  5